/* General Styles */
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px;
  width: 300px;
  background-color: #272a32;
  color: #fffad3;
  box-sizing: border-box;
}

/* Header styling */
#header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;
}

#header h1 {
  margin: 0;
  font-size: 40px;
  color: #75c492;
  flex-grow: 1;
  text-align: center;
  font-family: "Rubik Iso", system-ui;
  font-weight: 400;
}

/* Gear Icon Styles */
#settings-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* Hide settings icon on settings page */
body.settings-hidden #settings-icon {
  display: none;
}

/* Common Button Styles */
.styled-button {
  padding: 10px;
  font-size: 14px;
  background-color: #1e1e1e;
  color: #fffad3;
  border: 1px solid #75c492;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin-top: 10px;
}

.styled-button:hover {
  background-color: #333333;
}

/* Buttons in settings */
#settings-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#settings-buttons .styled-button {
  flex-basis: 48%;
  margin-top: 0;
}
